{% extends 'layout/layout.html' %}
{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="">
            <ul class=flashes style="list-style-type: none;">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
             </ul>
        </div>
    
        {% endif %}
        {% endwith %}
        <div class="container">
                <h1><u>Login</u></h1><br>
                <form action="/login" method="POST">
                        
                         <div class="form-group col-sm-5">
                                <label> Email </label>
                                <input class="form-control" name='email' type='email'>
                        </div><br>
                         <div class="form-group col-sm-5">
                                <label> Password </label>
                                <input class="form-control" name='password' type='password'>
                        </div><br>
                        <button class="btn btn-primary" type="submit">Sign In</button> <br>
                        
                        
                </form>
                <a href="/register_google"><button class="btn btn-warning">SignIn with google</button></a>
                <p> If you don't have an account</p><br>
                <a href="/register"><button class="btn btn-info"> Sign Up</button></a> 
        </div>

{% endblock %}